<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Numerologia</title>
<style>
        .conteudo-centralizado {
            border: 2px solid #000; /* Define a espessura e cor da borda */
            margin: auto; /* Centraliza o contêiner */
            padding: 20px; /* Espaço entre o conteúdo e a borda */
            max-width: 400px; /* Largura máxima do contêiner */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave (opcional) */
            border-radius: 10px; /* Bordas arredondadas (opcional) */
        }
    </style>
</head>
<body>
    <div class="conteudo-centralizado">
    <h1>Calculadora de Numerologia</h1>
    <form action="/calcular" method="post">
        <label for="nome">Digite seu nome:</label>
        <input type="text" id="nome" name="nome">
        <input type="submit" value="Calcular">
    </form>
<!-- Inserir após os resultados, se desejado -->

</div>
</body>
</html>